@{
    ViewData["Title"] = "Home Page";
    var instanceId = Environment.GetEnvironmentVariable("WEBSITE_INSTANCE_ID");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Instance ID: <strong>@instanceId</strong></p>
</div>